body{
    background-color: beige;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.card{
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px;
}

h1{
    text-align: center;
}
.transition-basic{
    transition:all 0.5s ease-in-out;
}
.transition-basic:hover{
    background-color: rgb(214, 214, 214);
    height: 210px;
    box-shadow: 0 4px 6px black;
    transform: translateY(-10px);
}
.transition-basic:active{
    background-color: rgb(220, 127, 13);
    transform: translate(5px);

}
.transition-timing{
    transition: transform 0.5s, cubic-bezier(0.075, 0.82, 0.165, 1);
}
.transition-timing:hover{
    transform: translateY(-10px);
}
.transition-transform{
    transition: all .8s;
}
.transition-transform:hover{
    transform: scale(1) rotate(5deg);
}


/* Animations */
.animation-spin{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.animation-color{
    animation: color-change 1s ease-in-out infinite;
}
@keyframes color-change {
    0%{background-color: red;}
    50%{background-color: green;}
    100%{background-color: blue;}
}