*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.box{
    height: 500px;
    width: 500px;
    margin: 20px;
    margin-top: 47px;
    border-radius: 20px;
    background-color: rgb(229, 161, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px
}
.box1{
    height: 300px;
    width: 300px;
    background-color: rgb(175, 156, 156);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.box1 img{
     max-width: 99%; 
     height: auto; 
     border-radius: 20px;

}

.box1 img:hover{
    max-width: 100%;
    background-color: yellow;
}
.btn{
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 15px;
}

.btn:hover{
    font-size: 15.7px;
}
.id{
    height: 500px;
    width: 676px;
    margin: 20px;
    margin-top: 47px;
    border-radius: 20px;
    background-color: rgb(229, 161, 78);
    text-align: center;
    color: white;
}