*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
.box{
    height: 500px;
    width: 500px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(229, 161, 78);
}
.box1{
    height: 300px;
    width: 300px;
    margin-left: 40px;
    background-color: yellow;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.box2{
    height: 50px;
    width: 50px;
    background-color: red;
}
.box1:hover{
   border-left: 20px solid red;

}